.footer{
    margin-top: 7rem;
    text-align: center;
    background-color: rgb(50, 42, 57);
    padding: 5rem 0;
}

.footer h2{
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-normal);
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

@media (max-width: 500px) {

    .footer .container a{
        margin: 15px;
    }

    .footer a i{
        font-size: 3rem;
    }
}