.projetos .container-projetos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin: 0 auto;
    grid-gap: 20px;
}

.projetos .container-projetos .projeto{
    transition: all 0.3s ease;
    position: relative;
    border-radius: 5px;
}

.projetos .container-projetos .projeto:hover,
.projetos .container-projetos .projeto .informacoes-projeto:hover{
    opacity: 0.8;
}

.projetos .container-projetos .projeto img{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 100%;
}

.projetos .container-projetos .projeto .informacoes-projeto{
    padding: 20px;
    background-color: var(--cor-fundo-escuro);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}

.projetos .container-projetos .projeto p:nth-child(2){
    font-weight: 500;
    margin-top: 10px;
    font-size: 1.4rem;
}

.projetos .container-projetos .projeto h3{
    font-size: 2rem;
    font-weight: 500;
    position: absolute;
    bottom: 0;
    background-color: var(--cor-fundo-escuro);
    width: 100%;
    padding: 10px 0 10px 20px;
    opacity: 0.7;
}

@media (max-width: 1280px) {
    .projetos .container-projetos{
        padding: 0 var(--mobile-padding);
    }
}